@model List<string>;

<div class="row">
    <div class="col-3">
        <div class="row">
            Заказы
        </div>
        <div class="row">
            <a href="/admin/users">Пользователи</a>
        </div>
        <div class="row">
            <a href="/admin/roles">Роли</a>
        </div>
        <div class="row">
            <a href="/admin/products">Продукты</a>
        </div>
        <div class="row">
            <a href="/admin/addproduct">Добавить продукт</a>
        </div>
    </div>
    <div class="col-9">
        <h3>Список заказов</h3>
        <input type="text" id="search-query" class="form-control w-50 d-inline-block" placeholder="введите айди пользователя">
        <button class="btn btn-secondary" id="search-button">поиск</button>

        <ul class="list-group">
        @foreach (var str in Model)
        {
                <li class="list-group-item">@str</li>
        }
        </ul>

       
    </div>




    <script>

        document.getElementById('search-button').addEventListener('click', function () {
            var query = document.getElementById('search-query').value;
            var baseUrl = "/Admin/ShowOrders?id=";
            var url = baseUrl + encodeURIComponent(query);

            window.location.href = url;
        });
    </script>
</div>